<%= form_with url: search_weekly_rankings_output_path, method: :get, local: true do |f| %>
  <div class="form-group">
    <p>
      <%= f.label :start_date %>
      <%= f.date_field :start_date, id: :start_date, class: 'form-control' %>
    </p>

    <%= f.submit "Search", class: 'btn btn-primary' %>
  </div>
<% end %>